/* Barlow Regular */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: url('./barlow-regular.woff2') format('woff2'),
         url('./barlow-regular.woff') format('woff');
}

/* Barlow Medium */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    src: url('https://fonts.gstatic.com/s/barlow/v12/7cHqv4kjgoGqM7E3_-gs51os.woff2') format('woff2');
}

/* Barlow SemiBold */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    src: url('https://fonts.gstatic.com/s/barlow/v12/7cHqv4kjgoGqM7E30-8s51os.woff2') format('woff2');
} 